.App {
  text-align: center;
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: relative;
  font-size: calc(160px + 20vmin);
  font-family: 'Dorsa';
  font-weight: lighter;
  color: rgb(0, 0, 0);
  margin-top: 15%;
  margin-bottom: 0%;
  
}

#B-letter{
  position: relative;
  opacity: 0;
  animation: move-text-b 1.2s forwards;
}

@keyframes move-text-b {
  0% { left: -10.2em; opacity: 1; }
  100% { left: 0; opacity: 1; }
}

#C-letter{
  position: relative;
  opacity: 0;
  animation: move-text-c 1.2s forwards;
}

@keyframes move-text-c {
  0% { right: -10.2em; opacity: 1; }
  100% { right: 0; opacity: 1; }
}

#title {
  margin-top: 0%;
  opacity: 0;
  font-size: calc(10px + 2vmin);
  font-family: 'NewYork';
  letter-spacing: 1cm;
  color: rgb(0, 0, 0);
  animation: title-fade-in 4s forwards;
  animation-delay: 1.2s;
}

@keyframes title-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.Rect{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  height: 50vh;
  width: 30vh;
  margin-top: -27vh;
  margin-left: -14vh;
  padding-bottom: 0%;
}
